@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.common-width{
    max-width: 1110px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}


/* navbar related style */
.navbar{
    justify-content: space-between;
}
.nav-titile{
    font-size: 1.25rem;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-item{
     gap: 34px;
}
.list-item{
    list-style: none;
    align-items: center;
}

.list-item a{
    text-decoration: none;
    font-size: 0.85rem;
    color: #3A3A3A;
    font-weight: 600;
}

/* banner related style */
.banner-section{
    width: 580px;
    margin-top: 120px;
    padding-bottom: 0px;
}

.banner-titile{
    font-size: 2.50rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    margin-top: 16px;
}
.banner-btn{
    font-size: 1rem;
    font-weight: 700;
    background-color: #E02C6D;
    color: white;
    border: 0px;
    border-radius: 41px;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: 16px;
}
.banner-image{
    margin-top: 40px;
    margin-left: 120px;
}
.sponsors{
    
    
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
}
.card-section{
    max-width: 1047px;
    margin: 0 auto;
    margin-top: 100px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}
.card-titile{
    font-size: 1.75rem;
    font-weight: 600;
    color: #787885;
    text-align: center;
}
.card{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 15px 17px;
}
.product-title{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #18191F;
}
.price{
    margin-top: 6px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
}
.card p{
    color: #787885;
    font-size: 0.85rem;
}
#see-more{
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    
}
